@import "mixin";

.content {
    background: #cecece; /* Old browsers */
    background: -moz-linear-gradient(top, #cecece -1%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, #cecece), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cecece -1%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cecece -1%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cecece -1%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cecece -1%, #ffffff 100%); /* W3C */
    /*clear: both;*/
    overflow: auto;
    padding: 75px 0;


    ul {
        > * {
            float: left;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
        li {
            width: 362px;

            .title {
                height: 75px;

                .post-number {
                    float: left;
                    background: #494949;
                    width: 75px;

                    color: #ffffff;
                    font-size: 40px;
                    text-align: center;
                    line-height: 75px;
                }

                .post-title {
                    margin-left: 95px;

                    h2 {
                        color: #494949;
                        font-size: 30px;
                        padding: 11px 0 7px 0;
                    }

                    h3 {
                        color: #999;
                    }
                }
            }

            .post {
                color: #4c5c66;
                text-transform: none;
                line-height: 30px;

                margin: 35px 0;
            }

            .read-more {
                @include background-read-more;

                height: 42px;
                width: 103px;

                color: #ffffff;
                font-size: 12px;
                text-transform: uppercase;

                &:hover {
                    -webkit-box-shadow: 1px 2px 1px 0 #a5a5aa;
                    box-shadow: 1px 2px 1px 0 #a5a5aa;
                }
            }
        }
    }

}



