@import url(reset.css);
.tell-line {
  background: #464646 url("../img/tell-line-bg.png") repeat;
  height: 40px; }
  .tell-line p {
    text-align: right;
    line-height: 40px; }
  .tell-line image {
    height: 15px; }

.tell-text {
  color: #fff;
  font-size: 15px; }

.tell-number {
  color: #f4af00;
  font-size: 13.17px; }

.logo {
  padding: 29px 0;
  float: left;
  width: 300px; }

.logo-image {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  height: 72px;
  width: 72px;
  float: left;
  margin-right: 20px; }
  .logo-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% 0 0 -18%; }

.logo-type {
  display: inline;
  font-size: 40px;
  color: #3d3d3d; }
  .logo-type span {
    color: #f4af00; }

.menu-line {
  height: 130px; }

.menu {
  list-style: none;
  float: right;
  line-height: 50%;
  padding-top: 47.5px; }
  .menu li {
    float: left;
    text-align: center;
    line-height: 50px;
    height: 36px; }
  .menu a {
    color: #3d3d3d;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.5; }
    .menu a:hover {
      background: #f4af00;
      color: #ffffff;
      -webkit-box-shadow: 1px 2px 1px 0 #a5a5aa;
      box-shadow: 1px 2px 1px 0 #a5a5aa; }

.gallery {
  background: #d2d2d2; }
  .gallery img {
    width: 100%; }
  .gallery h2 {
    color: #ffffff;
    font-size: 140px; }
  .gallery h3 {
    color: #494949;
    font-size: 40px;
    padding: 0 0 20px 10px; }
  .gallery p {
    color: #c5e2ed;
    font-size: 14px;
    width: 605px;
    padding: 0 0 20px 10px; }

.content {
  background: #cecece;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cecece -1%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, #cecece), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cecece -1%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cecece -1%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cecece -1%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #cecece -1%, #ffffff 100%);
  /* W3C */
  /*clear: both;*/
  overflow: auto;
  padding: 75px 0; }
  .content ul > * {
    float: left;
    margin-right: 20px; }
    .content ul > *:last-child {
      margin-right: 0; }
  .content ul li {
    width: 362px; }
    .content ul li .title {
      height: 75px; }
      .content ul li .title .post-number {
        float: left;
        background: #494949;
        width: 75px;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        line-height: 75px; }
      .content ul li .title .post-title {
        margin-left: 95px; }
        .content ul li .title .post-title h2 {
          padding: 11px 0 7px 0; }
          .content ul li .title .post-title h2 a {
            color: #494949;
            font-size: 30px; }
        .content ul li .title .post-title h3 a {
          color: #999; }
    .content ul li .post {
      color: #4c5c66;
      text-transform: none;
      line-height: 30px;
      margin: 35px 0; }
    .content ul li .read-more {
      background: #f6bc00;
      /* Old browsers */
      background: -moz-linear-gradient(top, #f6bc00 0%, #f3ac00 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6bc00), color-stop(100%, #f3ac00));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #f6bc00 0%, #f3ac00 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #f6bc00 0%, #f3ac00 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #f6bc00 0%, #f3ac00 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #f6bc00 0%, #f3ac00 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bc00', endColorstr='#f3ac00',GradientType=0 );
      /* IE6-9 */
      height: 42px;
      width: 103px;
      color: #ffffff;
      font-size: 12px;
      text-transform: uppercase; }
      .content ul li .read-more:hover {
        -webkit-box-shadow: 1px 2px 1px 0 #a5a5aa;
        box-shadow: 1px 2px 1px 0 #a5a5aa; }

.wrapper-footer {
  background: #6c6c6c url("../img/footer-bg.png") repeat; }

.footer {
  overflow: auto;
  padding: 30px 0 14px 0; }
  .footer #social {
    float: right;
    margin-top: -24px; }
    .footer #social li {
      background: #1e2328;
      width: 33px;
      height: 33px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      float: left;
      margin-left: 10px; }
      .footer #social li:hover {
        background: #9f9f9f;
        -webkit-border-radius: 50%;
        border-radius: 50%; }

.sidebar {
  background: #2e3033;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e3033), color-stop(9%, #181b1e), color-stop(9%, #181b1e), color-stop(100%, #15181b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3033', endColorstr='#15181b',GradientType=0 );
  /* IE6-9 */
  background: #2e3033;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e3033), color-stop(9%, #181b1e), color-stop(9%, #181b1e), color-stop(100%, #15181b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2e3033 0%, #181b1e 9%, #181b1e 9%, #15181b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3033', endColorstr='#15181b',GradientType=0 );
  /* IE6-9 */
  padding: 85px 0;
  overflow: hidden; }
  .sidebar .wrapper > * {
    float: left;
    margin-right: 22px; }
    .sidebar .wrapper > *:last-child {
      margin-right: 0; }
  .sidebar h3 {
    color: #313233;
    font-size: 30px;
    margin-bottom: 42px; }
  .sidebar .testimonials {
    width: 362px; }
    .sidebar .testimonials li {
      margin-bottom: 35px; }
    .sidebar .testimonials img {
      float: left; }
    .sidebar .testimonials .comment {
      background: #ffffff;
      border: 1px solid #9f9f9f;
      text-transform: none;
      color: #9f9f9f;
      font-size: 14px;
      line-height: 21px;
      margin-left: 80px;
      padding: 19px;
      position: relative; }
      .sidebar .testimonials .comment::after {
        content: '';
        position: absolute;
        left: -10px;
        top: 19px;
        border: 6px solid transparent;
        border-right-color: #ffffff; }
    .sidebar .testimonials .contacts {
      text-align: right;
      margin-top: 19px; }
      .sidebar .testimonials .contacts .user-name {
        color: #e5a502; }
      .sidebar .testimonials .contacts a {
        color: #38393a; }
      .sidebar .testimonials .contacts .organisation {
        color: #494949; }
    .sidebar .testimonials .navigation {
      margin-top: -74px;
      position: relative; }
      .sidebar .testimonials .navigation button {
        background: #545454;
        width: 50px;
        height: 50px;
        color: #ffffff;
        font-size: 30px; }
        .sidebar .testimonials .navigation button:hover {
          background: #f6ba00; }
  .sidebar .latest-news {
    width: 362px; }
    .sidebar .latest-news .date {
      float: left;
      width: 74px;
      margin-right: 15px; }
      .sidebar .latest-news .date .day {
        background: #ffffff;
        height: 63px;
        border: 1px solid #dbdbdb;
        color: #485055;
        font-size: 30px;
        text-align: center;
        line-height: 63px; }
      .sidebar .latest-news .date hr {
        border-top: 1px solid #485055;
        border-bottom: 1px solid #6f7e88;
        margin-top: -1px; }
      .sidebar .latest-news .date .month {
        background: #485055;
        height: 30px;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        line-height: 30px; }
    .sidebar .latest-news li {
      border-bottom: 1px solid #20262a;
      padding-bottom: 15px;
      margin-bottom: 15px;
      min-height: 96px; }
      .sidebar .latest-news li:last-child {
        border-bottom: 0; }
    .sidebar .latest-news .news-post h4 a {
      color: #f4af00;
      font-size: 15px; }
    .sidebar .latest-news .news-post h5 {
      margin: 10px 0 15px 0; }
      .sidebar .latest-news .news-post h5 a {
        color: #3b3c3d; }
    .sidebar .latest-news .news-post p {
      text-transform: none;
      color: #9f9f9f;
      line-height: 19px; }
  .sidebar .design-trends {
    width: 362px; }
    .sidebar .design-trends li {
      line-height: 55px;
      min-height: 55px;
      margin-bottom: 5px; }
      .sidebar .design-trends li:last-child {
        margin-bottom: 0; }
      .sidebar .design-trends li:hover {
        -webkit-box-shadow: 1px 2px 1px 0 #333;
        box-shadow: 1px 2px 1px 0 #333; }
    .sidebar .design-trends .more {
      background: #f7c200;
      width: 55px;
      height: 55px;
      float: left;
      color: #ffffff;
      font-size: 30px;
      text-align: center; }
    .sidebar .design-trends .menu-name {
      background: #5c5c5c;
      /* Old browsers */
      background: -moz-linear-gradient(top, #5c5c5c 0%, #444444 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c5c5c), color-stop(100%, #444444));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #5c5c5c 0%, #444444 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #5c5c5c 0%, #444444 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #5c5c5c 0%, #444444 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #5c5c5c 0%, #444444 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#444444',GradientType=0 );
      /* IE6-9 */
      height: 55px;
      margin-left: 55px;
      padding-left: 25px; }
      .sidebar .design-trends .menu-name a {
        color: #ffffff;
        font-size: 15px; }
        .sidebar .design-trends .menu-name a:hover {
          color: #dbdbdb; }

.copy-right {
  color: #ffffff;
  font-size: 14px; }
  .copy-right span {
    color: #adadad;
    font-size: 16px; }

body {
  background: #fff url("../img/bg.png") repeat;
  font-family: "Myriad Pro Regular", sans-serif;
  text-transform: uppercase;
  text-align: justify;
  font-size: 14px; }

.white-line {
  height: 60px; }

.wrapper {
  width: 1130px;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */