@mixin footer-background {
    background: #2e3133; /* Old browsers */
    background: -moz-linear-gradient(top,  #2e3133 0%, #181b1e 15%, #15181b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e3133), color-stop(15%,#181b1e), color-stop(100%,#15181b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2e3133 0%,#181b1e 15%,#15181b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2e3133 0%,#181b1e 15%,#15181b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2e3133 0%,#181b1e 15%,#15181b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2e3133 0%,#181b1e 15%,#15181b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3133', endColorstr='#15181b',GradientType=0 ); /* IE6-9 */
}

