/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
    background: #fff url("../img/bg.png") repeat;
    font-family: "Myriad Pro Regular", sans-serif;
    text-transform: uppercase;
}

.tell-line{
    background: #464646 url("../img/tell-line-bg.png") repeat;
    height: 40px;

}
.tell-line p{
    width: 1130px;
    text-align: right;
    line-height: 40px;
    margin: 0 auto;
}
.tell-line image{
    height: 15px;
}
.tell-text {
    color: #fff;
    font-size: 15px;
}
.tell-number{
    color: #f4af00;
    font-size: 13.17px;
}

.menu-line{
    height: 130px;
    width: 1130px;
    margin: 0 auto;
}

.logo{
    padding: 29px 0;
    float: left;
    width: 300px;
}

.logo-image{
    position: relative;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    height: 72px;
    width: 72px;
    float: left;
    margin-right: 20px;
}

.logo-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% 0 0 -18%;

}

.logo-type {
    display: inline;
    font-size: 40px;
    color: #3d3d3d;;
}

.logo-type span {
    color: #f4af00;
}

.menu{
    list-style: none;
    float: right;
    line-height: 50%;
    padding-top: 47.5px;
}

.menu li{
    float: left;
    text-align: center;
    line-height: 50px;
    height: 36px;
}
.menu a{
    color: #3d3d3d;
    display: block;

    margin: 0 auto;
    padding: 0 20px;

    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.5;

}
.menu a:hover{
    background: #f4af00;
    color: #ffffff;
}


.gallery{
    background: #d2d2d2;
}
.gallery img {
    width: 100%;
}
.gallery div {
    width: 1130px;
    margin: 0 auto;
}

.gallery h2 {
    color: #ffffff;
    font-size: 140px;
}

.gallery h3 {
    color: #494949;
    font-size: 40px;
    padding: 0 0 20px 10px;
}

.gallery p {
    color: #c5e2ed;
    font-size: 14px;
    width: 605px;
    padding: 0 0 20px 10px;
}


.white-line{
    height: 60px;
}

.content{
    background: #cecece; /* Old browsers */
    background: -moz-linear-gradient(top,  #cecece -1%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,#cecece), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cecece -1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cecece -1%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cecece -1%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cecece -1%,#ffffff 100%); /* W3C */
    /*clear: both;*/
    overflow: auto;
    padding: 75px 0;
}
.content ul{
    width: 1130px;
    margin: 0 auto;
}
.content li{
    width: 360px;
    float: left;
    margin-right: 25px;

}
.content li:last-child{
    margin-right: 0;
}
.content-point {
    width: 75px;
    height: 75px;
    background: #5a5a5a;
    text-align: center;
    line-height: 75px;
    color: #ffffff;
    font-size: 40px;
    float: left;
    margin-right: 20px;
}

.read-more {
    width: 105px;
    height: 42px;
    background: #f4af00;
    text-align: center;
    line-height: 42px;
    margin-top: 20px;
}
.read-more a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.content h2{
    color: #494949;
    font-size: 29px;
    padding-bottom: 20px;
}
.content h3{
    color: #7f9db0;
    font-size: 15px;
}
.content-text{
    color: #4c5c66;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
    clear: both;
}




