.second-footer{
    background: #6c6c6c url("../img/foter-bg.png") repeat;
    overflow: auto;
    padding: 24px 0;
    ul{
        float: right;
    }
    li {
        float: left;
        padding-left: 10px;
    }
}
