.read-more {
    width: 105px;
    height: 42px;
    background: #f4af00;
    text-align: center;
    line-height: 42px;
    margin-top: 20px;

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
    }
}